<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <title>Perguntas e Respostas</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- <%= %> exibe o valor de uma variável -->
        <h1>Perguntas e Respostas</h1>
        <h1><%= nome %> de <%= idade %> anos</h1>
        <% if(msg) { %>
            <h3>Escolhi exibir essa mensagem!</h3>
        <% }else{ %>
            <h3>Nenhum de erro!</h3>
        <% } %>

        <hr> 
        <img src="/img/teste.jpg" alt="IMAGEM">
        <h3>Produtos: </h3>

        <% produtos.forEach(function(produto){ %>
            <hr>
            <h3>Nome: <%= produto.nome %></h3>
            <h4>Preço: <%= produto.preco %></h4>
        <% }); %>

    </body>
</html>