<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <br><hr>
    <div class="card">
        <div class="card-body">
            <h1><%= pergunta.id %>. <%= pergunta.titulo %></h1>
            <p><%= pergunta.descricao %></p>
        </div>
        <div class="card-footer">
                <form method="post" action="/saveAnswer">
                    <label for="resposta">Resposta:</label>
                    <input type="hidden" name="id_pergunta" value="<%=pergunta.id%>">
                    <textarea name="resposta" id="resposta" class="form-control"></textarea>
                    <hr>
                    <button class="btn btn-block btn-primary">Responder</button>
                </form>
            <hr> 

            <h3>Respostas:</h3>
                <% respostas.forEach(resp => { %>
                    <hr>
                    <div class="card">
                        <div class="card-body">
                            <p><%= resp.resposta %> | <%= resp.createdAt %></p>
                        </div>
                    </div>
                <% }); %>

        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
