<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h3>Realizar pergunta</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/saveQuestion">
                <label>Título</label>
                    <input type="text" name="titulo" placeholder="Título" class="form-control">
                    <br><label>Descrição</label>
                    <textarea name="descricao" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
            </form>
        </div>
    </div>

    <hr><hr>

    <table class="table table-stripped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Descrição</td>
                <td>Criado em</td>
                <td>Ação</td>
            </tr>
        </thead>
        <tbody>
            <% perguntas.forEach(pergunta => { %>
                <tr>
                    <th><%= pergunta.id %></th>
                    <th><%= pergunta.titulo %></th>
                    <th><%= pergunta.descricao %></th>
                    <th><%= pergunta.createdAt %></th>
                    <th><a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a></th>
                </tr>
            <% }); %>            
        </tbody>
    </table>


</div>
<%- include('partials/footer.ejs') %>